@import "tailwindcss";

* {
	font-family: "Lexend", "Helvetica Neue", sans-serif;
}

@layer components {
	.code {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
		padding: 0.25rem;
		border-radius: 0.375rem;
		background-color: oklch(0.269 0 0);
		color: oklch(0.87 0 0);
	}

	ul p {
		margin-top: 0.5rem;
	}
}

.code-button {
	@apply duration-75 text-neutral-300 hover:text-cyan-500 hover:pl-2 hover:pr-2 active:text-white
}

.code-button-divider {
	@apply text-xl text-neutral-500
}

.collapsible-content {
	@apply h-0 ml-2 overflow-hidden duration-300 peer-checked:max-h-auto peer-checked:h-1/1
}

.collapsible-content-container {
	@apply m-4 duration-300 border-l-2 max-h-15 w-9/10 hover:bg-neutral-200 has-checked:bg-neutral-200 has-checked:border-sky-700 has-checked:border-l-6 has-checked:max-h-1/1
}

.collapsible-content-header {
	@apply block p-2 font-bold duration-300 select-none hover:bg-neutral-300
}

/*
 * Below here is for the background animation
 */

@property --x {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 0%;
}

@property --y {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 0%;
}

:root {
	--x: 0%;
	--y: 0%;
}

@keyframes gradient-slide {
	0% {
		--x: -100%;
	}
	100% {
		--x: 100%;
	}
}

.gradient::before {
	position: absolute;
	content: "";
	width: 400%;
	height: 50%;
	left: var(--x);
	top: 0%;
	transform: translateX(-25%);
	z-index: -1;
	background: linear-gradient(-25deg, rgb(92, 255, 187), #e9b200, rgb(92, 255, 187), #e9b200, rgb(92, 255, 187));
	animation: gradient-slide 10s infinite alternate ease;
}

.gradient {
	mask-image: linear-gradient(black 0%, transparent 170%);
}
